.container {
  max-width: 80%;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.lead {
  color: #777978;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0rem;
}

.py-2 {
  padding: 2rem 0rem;
}

.py-3 {
  padding: 3rem 0rem;
}

.py-4 {
  padding: 4rem 0rem;
}

.my-1 {
  margin: 1rem 0rem;
}

.my-2 {
  margin: 2rem 0rem;
}

.my-3 {
  margin: 3rem 0rem;
}

.my-4 {
  margin: 4rem 0rem;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
}

.btn-primary {
  display: inline-block;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #10c9c3;
  -webkit-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

.btn-primary:hover {
  opacity: 0.7;
}

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #191919;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h4 {
  text-transform: capitalize;
}

#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  margin-top: 2rem;
}

#main-nav img {
  width: 70px;
  height: 70px;
}

#main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-nav li {
  padding: 1rem 1.5rem;
}

#main-nav a {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color 0.7s;
  transition: border-color 0.7s;
}

#main-nav a:hover {
  border-color: #10c9c3;
}

#main-nav a.current {
  border-color: #10c9c3;
}

.header-container {
  height: 100vh;
}

#header-home {
  background: url("../img/header-3.jpg") no-repeat center right/cover;
  height: 100vh;
}

#header-home .header-content {
  height: 100vh;
  padding-top: 15%;
  text-align: justify;
  width: 35%;
  margin: 0 3% 0 4%;
  float: right;
}

#header-home .header-content h1 {
  color: #191919;
  font-size: 2rem;
}

#about .about-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 40vh;
  padding-top: 1rem;
}

#about .about-a p {
  padding-top: 1rem;
}

#about .about-a #sign {
  width: 100px;
  padding-bottom: 1rem;
}

#about-remain {
  background: url("../img/about-bg2.jpg") no-repeat center center/cover;
}

#about-remain .about-b {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about-remain .about-b .about-skills {
  text-align: left;
  width: 40%;
  margin: auto;
}

#about-remain .about-b .about-skills h2 {
  text-align: left;
}

#about-remain .about-b .about-skills h4 {
  color: #777978;
  text-transform: capitalize;
}

#about-remain .about-b .about-skills .progress {
  overflow: hidden;
  height: 5px;
  background: #d8d8d8;
  border-radius: 5px;
  margin-bottom: 0.6rem;
}

#about-remain .about-b .about-skills .progress div {
  height: 100%;
  color: #fff;
  text-align: center;
  background: #10c9c3;
}

#about-remain .about-b .dummy {
  width: 50%;
}

#work {
  background-color: #10c9c3;
  color: #fff;
}

#work .work-a {
  height: 30vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#work .work-a .box {
  padding: 1rem;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#work .work-a .box i {
  font-size: 55px;
  padding-right: 1rem;
}

#work-portfolio .portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#work-portfolio .item {
  position: relative;
  width: 100%;
}

#work-portfolio .item i {
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: 42%;
  left: 42%;
}

#work-portfolio .image {
  display: block;
  width: 100%;
  height: auto;
}

#work-portfolio .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #000;
}

#work-portfolio .item:hover .overlay {
  opacity: 0.8;
}

#work-portfolio .load-more {
  padding: 2rem;
  text-align: center;
  background-color: #f5f5f5;
}

#work-portfolio .load-more a {
  padding: 1rem;
  text-transform: uppercase;
  color: #777978;
}

#process {
  margin-top: 2rem;
}

#process .process-a {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

#process .process-a .iframe-container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

#process .process-a .iframe-container .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#process .process-a h2,
#process .process-a p {
  padding-bottom: 2.5rem;
}

#services {
  background-color: #f5f5f5;
  padding: 5rem 0;
}

#services .service-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services .service-box .service {
  padding: 2rem;
}

#services .service-box .service i {
  font-size: 3rem;
}

#services .service-box .service i,
#services .service-box .service p {
  color: #777978;
  padding-bottom: 1rem;
}

#services .service-box .service h4 {
  text-transform: uppercase;
  padding-bottom: 0.6rem;
}

#testimonials {
  background-color: #10c9c3;
}

#testimonials .testi-content {
  width: 100%;
  padding: 5rem 15rem;
}

#testimonials .testi-content p {
  color: #fff;
  font-size: 1.5rem;
}

#testimonials-b .clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6rem 2rem;
}

#testimonials-b .clients .client-logo {
  width: 200px;
}

#contact {
  background: #f5f5f5;
  height: 75vh;
}

#contact .content {
  height: 75vh;
}

#contact .content h2 {
  padding-top: 5rem;
}

#contact .content p {
  padding: 1rem 18rem;
}

#contact .content .text-fields {
  height: 30vh;
  padding: 0 16rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name email" "title title" "comment comment";
  gap: 1.2rem;
}

#contact .content .text-fields .name-input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

#contact .content .text-fields .email-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

#contact .content .text-fields .title-input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}

#contact .content .text-fields .comment-input {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: comment;
  height: 150px;
  color: #000;
}

#contact .content .text-fields .text-input {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  -webkit-transition: border 0.7s;
  transition: border 0.7s;
}

#contact .content .text-fields .text-input:focus {
  border: 1px solid #10c9c3;
}

#contact .content button {
  margin: 1rem 0;
}

#footer {
  background: #141414;
  color: #fff;
  padding: 5rem;
}

#footer h2,
#footer h4,
#footer h5 {
  text-decoration: none;
}

#footer .footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footer-contents .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footer-contents .links .link-a {
  padding-right: 2rem;
}
/*# sourceMappingURL=main.css.map */